*
{
	margin: 0;
	padding: 0;
}
header
{
	z-index: 1;
	font-size: 10pt;
	position: fixed;
}
body
{
	overflow-x: hidden;
	background: #ffffff;
}
m
{
	background: #000000;
	color: #ffffff;
}
.menu
{
	z-index: 1;
	position: fixed;
	background: #000000;
	height: 36px;
	width: 100%;
}
.text
{
	width: 100%;
	margin: auto;
	background: #ffffff;
	color: #000000;
	font-family: IBMMono;
	font-size: 9pt;
	white-space: pre-wrap;
	text-align: justify;
	padding: 5px;
	tab-size: 4;
}
.mhide
{
	background-color: #000000;
	color: #ffffff;
	border: none;
	outline: none;
	font-family: IBMMono;
	font-size: 9pt;
	display: inline-block;
}
.active, .mhide:hover
{
	background-color: #950740;
}
.chide
{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color: #000000;
	padding-bottom: 10px;
	display: inline-block;
}
nav ul
{
	z-index: 1;
	list-style: none;
	background-color: #000000;
}
nav > ul > li
{
	z-index: 1;
	float: left;
}
nav ul::after
{
	z-index: 1;
	content: "";
	display: block;
	clear: both;
}
nav ul li a
{
	z-index: 1;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #ffffff;
	width: 125px;
}
nav ul li a:hover
{
	z-index: 1;
	background-color: #950740;
}
nav ul ul
{
	z-index: 1;
	display: none;
	position: absolute;
}
nav ul li:hover ul
{
	z-index: 1;
	display: block;
}
.MathJax
{
	display: inline-block;
	height: 10px;
	font-style: bold;
}
@font-face
{
	font-family: "IBMMono";
	src: url("ibm_mono.ttf") format("truetype");
	font-style: ligth;
	font-weight: normal;
}